<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Lotus Hotel-Booking</title>
  </head>
  <body>
    <nav>
      <div class="nav__bar">
        <div class="nav__header">
          <div class="logo nav__logo">
           <img src="/static/assets/logo.jpg" alt="logo" height="60px" width="60px">
            <span>LOTUS</span>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="{% url 'about' %}">Меню</a></li>
          <li><a href="{% url 'index' %}">Отели</a></li>
          <li><a href="{% url 'index' %}">Бронь</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'about' %}"> {{ user.username }}</a></li>
            <li><a href="{% url 'index' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Зарегестрироваться</a></li>
            <li><a href="{% url 'index' %}">Выйти</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>

    <header class="header" id="home">
      <div class="section__container header__container">
       
        <p class="section__subheader">Вам понравится наш портал, если Вы цените свое время, средства и возможность выбора.<br> 
            Вы с легкостью можете найти лучший для Вас номер в системе онлайн бронирования <br>
            отелей и забронировать гостиницу мгновенно.</p>
            <h1>LOTUS</h1>
        <button class="btn">Забронировать номер</button>
      </div>
    </header>

    <section class="booking">
      <div class="section__container booking__container">
        <form action="/">
          <div class="input__group">
            <label for="arrival">ФИО</label>
            <input type="text" placeholder="Введите ваше ФИО" />
          </div>
          <div class="input__group">
            <label for="departure">Дата заселения</label>
            <input type="date" placeholder="Check-in-Date">
          </div>
          <div class="input__group">
            <label for="departure">Дата выселения</label>
            <input type="date" placeholder="Check-in-Date">
          </div>
          <div class="input__group">
            <label for="guests">Гости</label>
            <input type="number" placeholder="Количесво гостей" />
          </div>
        </form>
        
        <button class="btn">Забронировать номер</button>
      </div>
    </section>

    <section class="about" id="about">
      <div class="section__container about__container">
        <div class="about__grid">
          <div class="about__image">
            <img src="/static/assets/mod1.jpg" alt="about" />
          </div>
          <div class="about__card">
            <span><i class="ri-user-line"></i></span>
            <h4>Дешевле официальных тарифов</h4>
            <p>
              Бронируйте номера со скидками — цены на сайте практически всегда выгодны.
            </p>
          </div>
          <div class="about__image">
            <img src="/static/assets/mod2.jpg" alt="about" />
          </div>
          <div class="about__card">
            <span><i class="ri-calendar-check-line"></i></span>
            <h4>Оплата без комиссии</h4>
            <p>Вы не платите никаким посредникам — оплату за номер получает выбранный вами отель.</p>
          </div>
        </div>
        <div class="about__content">
          <p class="section__subheader">О нас</p>
          <h2 class="section__header"> Мы - это удобный и надежный сервис для поиска и бронирования отелей.</h2>
          <p class="section__description">
           Мы поможем вам найти идеальный вариант проживания для любого путешествия, будь то деловая поездка, семейный отдых. Вот почему вы должны выбрать нас.Гарантируем качество и безопасность бронирования. Все отели, представленные на нашем сайте, проверены нашими экспертами и имеют реальные отзывы от гостей. Мы также защищаем ваши личные данные и платежную информацию с помощью современных технологий шифрования.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
